

*.o
*.ppu
*.dcu
*.dsk
*.exe
*.bin
*.pdb
*.map
*.bak
*.~*
*.tmp

.lazarus/
*.lpi
*.lpr
*.lps
*.lpk
*.lps
*.lpr~ 
*.lpi~ 
*.lpk~ 

*.log
*.cache
*.user
*.local

*~
*.orig
*.swp

.svn/
.git/
.hg/

.env

data/
Projects/empresas/

**/*.sock
**/*.pid
**/*.log
